# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Environments
.venv/
venv/
ENV/
env/

# IDE & System files
.vscode/
.idea/
.DS_Store
Thumbs.db
.kilo/

#txt
NLP_CONCEPTS_TO_KNOW.txt
PROJECT_EXECUTION_LOG.txt